<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   
   
<!--    <bean id="loginDaoImp" class="com.jhd.manage.dao.impl.LoginDaoImp">
     <property name="sessionFactory" ref="sessionFactory" />
   </bean>


 <bean id="hibernateTemplatedmp" class="org.springframework.orm.hibernate3.HibernateTemplate">
    <property name="sessionFactory">
       <ref bean="sessionFactory_dmp"/>
    </property>
</bean>
 -->
</beans>